<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/tabs.css">
</head>
<style>
    h2{
        font-size: 16px;
        padding: 5px 0;
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }
    label{
        width: 150px;
    }
    button{
        margin-left: 150px;
    }
</style>
<body>
<ul>
    <li>
        <h2>积分奖励配置</h2>
        <form action="">
            <div class="form_item">
                <label>邀请好友积分</label>
                <input type="text" value="1000">
            </div>
            <button>提交</button>
        </form>
    </li>
    <li>
        <h2>用户积分收益比例</h2>
        <div class="tabs">
            <header>
                <ul class="tab">
                    <li class="tabActive">一级</li>
                    <li>二级</li>
                    <li>三级</li>
                    <li>四级</li>
                    <li>五级</li>
                    <li>六级</li>
                    <li>七级</li>
                </ul>
            </header>
            <main>
                <ul class="content">
                    <li>
                        <form action="">
                            <div class="form_item">
                                <label>聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>视频聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私房视频系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私密照片系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>聊天收礼系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>真心话系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>挑逗系数</label>
                                <input type="text" value="30">%
                            </div>
                            <button>提交</button>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <div class="form_item">
                                <label>聊天系数</label>
                                <input type="text" value="40">%
                            </div>
                            <div class="form_item">
                                <label>视频聊天系数</label>
                                <input type="text" value="40">%
                            </div>
                            <div class="form_item">
                                <label>私房视频系数</label>
                                <input type="text" value="40">%
                            </div>
                            <div class="form_item">
                                <label>私密照片系数</label>
                                <input type="text" value="40">%
                            </div>
                            <div class="form_item">
                                <label>聊天收礼系数</label>
                                <input type="text" value="40">%
                            </div>
                            <div class="form_item">
                                <label>真心话系数</label>
                                <input type="text" value="40">%
                            </div>
                            <div class="form_item">
                                <label>挑逗系数</label>
                                <input type="text" value="40">%
                            </div>
                            <button>提交</button>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <div class="form_item">
                                <label>聊天系数</label>
                                <input type="text" value="50">%
                            </div>
                            <div class="form_item">
                                <label>视频聊天系数</label>
                                <input type="text" value="50">%
                            </div>
                            <div class="form_item">
                                <label>私房视频系数</label>
                                <input type="text" value="50">%
                            </div>
                            <div class="form_item">
                                <label>私密照片系数</label>
                                <input type="text" value="50">%
                            </div>
                            <div class="form_item">
                                <label>聊天收礼系数</label>
                                <input type="text" value="50">%
                            </div>
                            <div class="form_item">
                                <label>真心话系数</label>
                                <input type="text" value="50">%
                            </div>
                            <div class="form_item">
                                <label>挑逗系数</label>
                                <input type="text" value="50">%
                            </div>
                            <button>提交</button>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <div class="form_item">
                                <label>聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>视频聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私房视频系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私密照片系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>聊天收礼系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>真心话系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>挑逗系数</label>
                                <input type="text" value="30">%
                            </div>
                            <button>提交</button>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <div class="form_item">
                                <label>聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>视频聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私房视频系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私密照片系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>聊天收礼系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>真心话系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>挑逗系数</label>
                                <input type="text" value="30">%
                            </div>
                            <button>提交</button>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <div class="form_item">
                                <label>聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>视频聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私房视频系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私密照片系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>聊天收礼系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>真心话系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>挑逗系数</label>
                                <input type="text" value="30">%
                            </div>
                            <button>提交</button>
                        </form>
                    </li>
                    <li>
                        <form action="">
                            <div class="form_item">
                                <label>聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>视频聊天系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私房视频系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>私密照片系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>聊天收礼系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>真心话系数</label>
                                <input type="text" value="30">%
                            </div>
                            <div class="form_item">
                                <label>挑逗系数</label>
                                <input type="text" value="30">%
                            </div>
                            <button>提交</button>
                        </form>
                    </li>
                </ul>
            </main>
        </div>
    </li>
    <li>
        <h2>用户积分比例</h2>
        <form action="">
            <div class="form_item">
                <label>花瓣转积分比例</label>
                <input type="text" value="1000">%
            </div>
            <div class="form_item">
                <label>积分转人民币比例</label>
                <input type="text" value="1000">%
            </div>
            <div class="form_item">
                <label>积分提现比例系数</label>
                <input type="text" value="1000">%
            </div>
            <button>提交</button>
        </form>
    </li>
</ul>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/tabs.js"></script>
