<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/commen.css">
</head>
<style>
    input[name='time']{
        width: 30px;
    }
    input:not([name='time']){
        width: 200px;
    }
    input[type=radio]{
        width: 30px;
        margin-left: 20px;
    }
</style>
<body>
    <h2 style="font-size: 18px;margin-left: 15px">首页banner</h2>
    <form action="">
        <div class="form_item">
            <label >
                轮播时间
            </label>
            <input type="text" name="time">秒
        </div>
        <div class="form_item">
            <label >
                照片1
            </label>
            <input type="file" name="password">
            <span>http://hjcs.sfaa.tv/uploads/images/201709/c2a4a13799d.png</span>
        </div>
        <div class="form_item">
            <label >
                链接1
            </label>
            <input type="text" value="http://www.ihuajian.com/">
        </div>
        <div class="form_item">
            <input type="radio" name="phOneSex" value="1">男
            <input type="radio" name="phOneSex" value="0">女
        </div>
        <div class="form_item">
            <label >
                照片2
            </label>
            <input type="file" name="password">
            <span>http://hjcs.sfaa.tv/uploads/images/201709/c2a4a13799d.png</span>
        </div>
        <div class="form_item">
            <label >
                链接2
            </label>
            <input type="text" value="http://www.ihuajian.com/">
        </div>
        <div class="form_item">
            <input type="radio" name="phTwoSex" value="1">男
            <input type="radio" name="phTwoSex" value="0">女
        </div>
        <div class="form_item">
            <label >
                照片3
            </label>
            <input type="file" name="password">
            <span>http://hjcs.sfaa.tv/uploads/images/201709/c2a4a13799d.png</span>
        </div>
        <div class="form_item">
            <label >
                链接3
            </label>
            <input type="text" value="http://www.ihuajian.com/">
        </div>
        <div class="form_item">
            <input type="radio" name="phThreeSex" value="1">男
            <input type="radio" name="phThreeSex" value="0">女
        </div>
        <div class="form_item">
            <label >
                照片4
            </label>
            <input type="file" name="password">
            <span>http://hjcs.sfaa.tv/uploads/images/201709/c2a4a13799d.png</span>
        </div>
        <div class="form_item">
            <label >
                链接4
            </label>
            <input type="text" value="http://www.ihuajian.com/">
        </div>
        <div class="form_item">
            <input type="radio" name="phFourSex" value="1">男
            <input type="radio" name="phFourSex" value="0">女
        </div>
        <div class="form_item">
            <label >
                照片5
            </label>
            <input type="file" name="password">
            <span>http://hjcs.sfaa.tv/uploads/images/201709/c2a4a13799d.png</span>
        </div>
        <div class="form_item">
            <label >
                链接5
            </label>
            <input type="text" value="http://www.ihuajian.com/">
        </div>
        <div class="form_item">
            <input type="radio" name="phFiveSex" value="1">男
            <input type="radio" name="phFiveSex" value="0">女
        </div>
        <div class="form_item">
            <label >
                照片6
            </label>
            <input type="file" name="password">
            <span>http://hjcs.sfaa.tv/uploads/images/201709/c2a4a13799d.png</span>
        </div>
        <div class="form_item">
            <label >
                链接6
            </label>
            <input type="text" value="http://www.ihuajian.com/">
        </div>
        <div class="form_item">
            <input type="radio" name="phSixSex" value="1">男
            <input type="radio" name="phSixSex" value="0">女
        </div>
        <button>提交</button>
    </form>

</body>
</html>