<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/commen.css">
</head>
<body>
    <form action="">
        <div class="form_item">
            <label >
                用户名
            </label>
            <input type="text" name="nikename">
        </div>
        <div class="form_item">
            <label >
                密码
            </label>
            <input type="text" name="password">
        </div>
        <div class="form_item">
            <label >
                用户姓名
            </label>
            <input type="text">
        </div>
        <div class="form_item">
            <label >
                手机号
            </label>
            <input type="text">
        </div>
        <div class="form_item">
            <label >
                Email
            </label>
            <input type="text">
        </div>
        <div class="form_item">
            <label >
                QQ
            </label>
            <input type="text">
        </div>

        <div class="form_item">
            <label >
                职位
            </label>
            <select name="" id="">
                <option value="">请选择职位</option>
                <option value="1">系统管理员</option>
                <option value="1">系统管理员</option>
                <option value="1">系统管理员</option>
                <option value="1">系统管理员</option>
                <option value="1">系统管理员</option>
            </select>
        </div>
        <div class="form_item">
            <label >
                状态
            </label>
            <select name="adminStatus" id="admin_status">
                <option value="0">正常</option>
                <option value="1">待审</option>
                <option value="2">锁定</option>
            </select>
        </div>
        <div class="form_item">
            <label >
                备注
            </label>
            <textarea name="" id="adminRemark" cols="30" rows="5">
            </textarea>
        </div>
        <button>提交</button>
    </form>
</body>
</html>