<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_535633_taszfdq4wajaif6r.css">
</head>
<body>
    <header>
        <div class="logo">
            后台管理系统
        </div>
        <div>
            <p class="sysInfo">当前在线用户:<span>15</span>在线认证用户:<span>8</span>在线非认证用户:<span>7</span></p>
            <p class="adminInfo">欢迎【<span>系统管理员</span>】<span>admin</span>,<span class="exit">退出登录</span></p>
        </div>
    </header>
    <main>
        <nav>
            <ul class="menubar">
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>我的工作台</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a href="table.html" target="content">系统首页</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a href="addFile.html" target="content">个人设置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a href="midify.html" target="content">密码修改</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>审核管理</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="avatar.html">头像审核</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="userActive.html">动态审核</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="comment.html">评论审核管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="report.html">举报管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="userAuthentica.html">用户认证管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="album.html">相册管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="withdraw.html">提现管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="moniter.html">APP内容监控-花间</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>用户管理</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="user.html">用户管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="userEdit.html">用户编辑</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>财务管理</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="allTrade.html">所有充值记录</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="tradeRank.html">充值排行榜</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="remaining.html">余额排行榜</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>用户数据统计</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="receivingGift.html">用户收礼统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="income.html">用户收入统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="spend.html">用户消费统计</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>平台数据统计</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="privateVideo.html">私房视频计费点</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="rechargePetal.html">花瓣充值数据统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="rechargePetalUser.html">花瓣充值用户统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="videoCommunication.html">视频聊天记录明细</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="videoChatComment.html">视频聊天评价统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="meetUnexpectedly.html">邂逅统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="authenticUserAction.html">认证用户行为统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="onlineUserTime.html">在线用户时段统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="platformEarning.html">平台收益统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="remainUser.html">留存用户统计</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="nowOnline.html">当前在线用户</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>运营参数配置</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="AD.html">广告位设置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="keyworld.html">关键词过滤管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="systemMessage.html">系统消息文案配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="invite.html">邀请分享配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="pullMessage.html">定时消息推送配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="videoChatWord.html">视频聊天文案配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="trueWord.html">真心话/挑逗配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="sayHello.html">一键打招呼配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="autoReply.html">自动回复模板配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="switchAutoReply.html">话术开关配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="channel.html">友盟渠道配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="gift.html">礼物配置</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>平台参数配置</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="accumulate.html">积分系数配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="petalPrice.html">花瓣价格配置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="systemMessage.html">积分扣除</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="VIPrecharge.html">VIP充值配置</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="menu_item">
                    <div class="menu_item_title">
                        <div>
                            <i class="menu_icon iconfont icon-wendang"></i>
                            <span>系统设置</span>
                        </div>
                        <i class="iconfont icon-arrow-up"></i>
                    </div>
                    <ul class="menu_child">
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="adminUser.html">管理员列表</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="workGroup.html">用户组</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="systemMessage.html">部门管理</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="VIPrecharge.html">网站基础设置</a>
                            </div>
                        </li>
                        <li class="menu_child_item">
                            <div class="menu_child_item_title">
                                <a target="content" href="operation.html">操作日志</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="content">
            <div class="crumbs">
                <p>
                    <a target="content">首页</a>
                    <span> / </span>
                    <a class="nav" target="content"></a>
                    <span> / </span>
                    <span></span>
                </p>
            </div>
            <iframe name="content"  frameborder="0" src="midify.html">
            </iframe>
        </div>
    </main>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/home.js"></script>
