<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/commen.css">
</head>
<style>
    input[type=text]{
        width: 400px;
    }
</style>
<body>
<form action="">
    <div class="form_item">
        <label >
            图标
        </label>
        <input type="file" name="nikename">
        <span>http://test.ihuajian.com/uploads/images/201711/4f89b1e7f25.png</span>
    </div>
    <div class="form_item">
        <label >
            标题
        </label>
        <input type="text" name="password">
    </div>
    <div class="form_item">
        <label >
            正文
        </label>
        <input type="text">
    </div>
    <div class="form_item">
        <label >
            链接地址
        </label>
        <input type="text">
    </div>
    <button>提交</button>
</form>
</body>
</html>