<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/tabs.css">
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_535633_taszfdq4wajaif6r.css">
</head>
<body>
<div class="tabs">
    <header>
        <ul class="tab">
            <li class="tabActive">推荐(男)</li>
            <li>新人(男)</li>
            <li>推荐(女)</li>
            <li>活跃(女)</li>
            <li>新人(女)</li>
            <li>发现(动态)</li>
            <li>发现(视频)</li>
        </ul>
    </header>
    <main>
        <ul class="content">
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>用户ID</td>
                            <td>昵称</td>
                            <td>性别</td>
                            <td>头像</td>
                            <td>城市</td>
                            <td>活跃时间</td>
                            <td>GPS地址</td>
                            <td>花瓣余额</td>
                            <td>置顶</td>
                            <td>在线状态</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>50000457</td>
                            <td class="next">铁锤妹妹</td>
                            <td>男</td>
                            <td>
                                <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                            </td>
                            <td>重庆</td>
                            <td>
                                <input class="timeInputLg" type="text" value="2017-12-26 12:06:45">
                            </td>
                            <td>杭州市西湖区文三路478号</td>
                            <td>5744.70</td>
                            <td>
                                <select name="isTop">
                                    <option value="">置顶</option>
                                    <option value="">普通</option>
                                </select>
                            </td>
                            <td style="color: #008800">在线</td>
                            <td>
                                <button type="button">云信</button>
                            </td>
                        </tr>
                        <tr>
                            <td>50000457</td>
                            <td class="next">铁锤妹妹</td>
                            <td>男</td>
                            <td>
                                <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                            </td>
                            <td>重庆</td>
                            <td>
                                <input class="timeInputLg" type="text" value="2017-12-26 12:06:45">
                            </td>
                            <td>杭州市西湖区文三路478号</td>
                            <td>5744.70</td>
                            <td>
                                <select name="isTop">
                                    <option value="">置顶</option>
                                    <option value="">普通</option>
                                </select>
                            </td>
                            <td style="color: #000088">离线</td>
                            <td>
                                <button type="button">云信</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>

                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <td>用户ID</td>
                            <td>昵称</td>
                            <td>性别</td>
                            <td>头像</td>
                            <td>城市</td>
                            <td>活跃时间</td>
                            <td>GPS地址</td>
                            <td>花瓣余额</td>
                            <td>置顶</td>
                            <td>在线状态</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>50000457</td>
                            <td class="next">铁锤妹妹</td>
                            <td>男</td>
                            <td>
                                <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                            </td>
                            <td>重庆</td>
                            <td>
                                <input type="text" value="2017-12-26 12:06:45">
                            </td>
                            <td>杭州市西湖区文三路478号</td>
                            <td>5744.70</td>
                            <td>
                                <select name="isTop">
                                    <option value="">置顶</option>
                                    <option value="">普通</option>
                                </select>
                            </td>
                            <td style="color: #008800">在线</td>
                            <td>
                                <button type="button">云信</button>
                            </td>
                        </tr>
                        <tr>
                            <td>50000457</td>
                            <td class="next">铁锤妹妹</td>
                            <td>男</td>
                            <td>
                                <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                            </td>
                            <td>重庆</td>
                            <td>
                                <input type="text" value="2017-12-26 12:06:45">
                            </td>
                            <td>杭州市西湖区文三路478号</td>
                            <td>5744.70</td>
                            <td>
                                <select name="isTop">
                                    <option value="">置顶</option>
                                    <option value="">普通</option>
                                </select>
                            </td>
                            <td style="color: #000088">离线</td>
                            <td>
                                <button type="button">云信</button>
                            </td>
                        </tr>
                        <tr>
                            <td>50000457</td>
                            <td class="next">铁锤妹妹</td>
                            <td>男</td>
                            <td>
                                <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                            </td>
                            <td>重庆</td>
                            <td>
                                <input type="text" value="2017-12-26 12:06:45">
                            </td>
                            <td>杭州市西湖区文三路478号</td>
                            <td>5744.70</td>
                            <td>
                                <select name="isTop">
                                    <option value="">置顶</option>
                                    <option value="">普通</option>
                                </select>
                            </td>
                            <td style="color: #000088">离线</td>
                            <td>
                                <button type="button">云信</button>
                            </td>
                        </tr>
                        <tr>
                            <td>50000457</td>
                            <td class="next">铁锤妹妹</td>
                            <td>男</td>
                            <td>
                                <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                            </td>
                            <td>重庆</td>
                            <td>
                                <input type="text" value="2017-12-26 12:06:45">
                            </td>
                            <td>杭州市西湖区文三路478号</td>
                            <td>5744.70</td>
                            <td>
                                <select name="isTop">
                                    <option value="">置顶</option>
                                    <option value="">普通</option>
                                </select>
                            </td>
                            <td style="color: #000088">离线</td>
                            <td>
                                <button type="button">云信</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>城市</td>
                        <td>活跃时间</td>
                        <td>GPS地址</td>
                        <td>花瓣余额</td>
                        <td>置顶</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #008800">在线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>城市</td>
                        <td>活跃时间</td>
                        <td>GPS地址</td>
                        <td>花瓣余额</td>
                        <td>置顶</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #008800">在线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>城市</td>
                        <td>活跃时间</td>
                        <td>GPS地址</td>
                        <td>花瓣余额</td>
                        <td>置顶</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #008800">在线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>城市</td>
                        <td>活跃时间</td>
                        <td>GPS地址</td>
                        <td>花瓣余额</td>
                        <td>置顶</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #008800">在线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <ul class="page">
            <p>共<span>188</span>条</p>
            <i class="iconfont icon-zuoyoujiantou"></i>
            <div>

            </div>
            <i class="iconfont icon-next"></i>
        </ul>
        <div class="mark">
            <div class="main">
                <img src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
            </div>
        </div>
    </main>
</div>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/tabs.js"></script>
<script src="../js/comment.js"></script>
<script src="../js/pageing.js"></script>