<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/commen.css">
</head>
<body>
    <form action="">
        <div class="form_item">
            <label >
                用户名
            </label>
            <input type="text" name="nikename" readonly>
        </div>
        <div class="form_item">
            <label >
                真实姓名
            </label>
            <input type="text" name="realName">
        </div>
        <div class="form_item">
            <label >
                手机号
            </label>
            <input type="text" name="tel">
        </div>
        <div class="form_item">
            <label >
                Email
            </label>
            <input type="text" name="email">
        </div>
        <div class="form_item">
            <label >
                QQ
            </label>
            <input type="text" name="qq">
        </div>
        <div class="form_item">
            <label >
                添加时间
            </label>
            <input type="text" readonly name="createtime">
        </div>
        <div class="form_item">
            <label >
                备注
            </label>
            <textarea name="notice" id="adminRemark" cols="30" rows="5">
                </textarea>
        </div>
        <button>提交</button>
    </form>
</body>
</html>