<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_535633_taszfdq4wajaif6r.css">
</head>
<body>
    <div class="search">
        <form action="">
            <label>时间
                <input class="timeInput" type="date" name="startTime">-<input class="timeInput" type="date" name="endTime">
            </label>
            <button type="button">查询</button>
            <button type="button">导出Excel</button>
        </form>
    </div>
    <table cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td>日期</td>
            <td>认证用户积分总收入(积分)</td>
            <td>邂逅体验卡支出(积分)</td>
            <td>当日充值金额(人民币)</td>
            <td>留存用户充值金额(人民币)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2018-01-22</td>
            <td>30537.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
        </tr>
        </tbody>
    </table>
    <ul class="page">
        <p>共<span>188</span>条</p>
        <i class="iconfont icon-zuoyoujiantou"></i>
        <div>

        </div>
        <i class="iconfont icon-next"></i>
    </ul>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/pageing.js"></script>