<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/commen.css">
</head>
<style>
    form{
        font-size: 12px;
        line-height: 30px;
    }
    form label{
        width: 160px;
    }
    form input{
        font-size: 12px;
        width: 820px;
    }
</style>
<body>
<form action="">
    <div class="form_item">
        <label>
            红包提现审核通过:
        </label>
        <input type="text" name="nikename" value="尊敬的用户您好，您申请的积分提现已审核成功！我们已经把***元现金发放到您的支付宝。平时多发视频并设置为付费状态以及与人聊天都能赚钱哦！">
    </div>
    <div class="form_item">
        <label >
            标题涉嫌传播低俗信息：
        </label>
        <input type="text" name="password">
    </div>
    <div class="form_item">
        <label >
            用户姓名
        </label>
        <input type="text">
    </div>
    <div class="form_item">
        <label >
            手机号
        </label>
        <input type="text">
    </div>
    <div class="form_item">
        <label >
            Email
        </label>
        <input type="text">
    </div>
    <div class="form_item">
        <label >
            QQ
        </label>
        <input type="text">
    </div>
    <button style="margin-left: 160px">提交</button>
</form>
</body>
</html>