<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/tabs.css">
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="../css/userEdit.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_535633_taszfdq4wajaif6r.css">
</head>
<body>
<div class="tabs">
    <header>
        <ul class="tab">
            <li class="tabActive">在线</li>
            <li>附近</li>
            <li>普通马甲</li>
            <li>真实认证</li>
        </ul>
    </header>
    <main>
        <ul class="content">
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>城市</td>
                        <td>活跃时间</td>
                        <td>GPS地址</td>
                        <td>花瓣余额</td>
                        <td>置顶</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input class="timeInputLg" type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #008800">在线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input class="timeInputLg" type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>城市</td>
                        <td>活跃时间</td>
                        <td>GPS地址</td>
                        <td>花瓣余额</td>
                        <td>置顶</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #008800">在线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>用户ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>城市</td>
                        <td>活跃时间</td>
                        <td>GPS地址</td>
                        <td>花瓣余额</td>
                        <td>置顶</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #008800">在线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    <tr>
                        <td>50000457</td>
                        <td class="next">铁锤妹妹</td>
                        <td>男</td>
                        <td>
                            <img style="border-radius: 50%" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                        </td>
                        <td>重庆</td>
                        <td>
                            <input type="text" value="2017-12-26 12:06:45">
                        </td>
                        <td>杭州市西湖区文三路478号</td>
                        <td>5744.70</td>
                        <td>
                            <select name="isTop">
                                <option value="">置顶</option>
                                <option value="">普通</option>
                            </select>
                        </td>
                        <td style="color: #000088">离线</td>
                        <td>
                            <button type="button">云信</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div class="search">
                    <form action="">
                        <label>用户ID
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <label>用户昵称
                            <input type="text" name="uid" style="width: 100px">
                        </label>
                        <button type="button">查询</button>
                        <button type="button">重置</button>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>昵称</td>
                        <td>性别</td>
                        <td>头像</td>
                        <td>状态</td>
                        <td>积分数</td>
                        <td>视频数</td>
                        <td>相册数</td>
                        <td>匹配值</td>
                        <td>认证状态</td>
                        <td>邀请好友数</td>
                        <td>被喜欢</td>
                        <td>手机号</td>
                        <td>视频通话时长(分钟)</td>
                        <td>语音聊天价格(分钟)</td>
                        <td>视频聊天价格(分钟)</td>
                        <td>接通率</td>
                        <td>等级</td>
                        <td>抢聊功能</td>
                        <td>提现开关</td>
                        <td>在线状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="next">50000457</td>
                            <td class="next">铁锤妹妹</td>
                            <td>男</td>
                            <td>
                                <img class="avatar" src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                            </td>
                            <td>正常</td>
                            <td>600.00</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <input type="text" value="60">%
                            </td>
                            <td>认证通过</td>
                            <td class="next">0</td>
                            <td class="next">2</td>
                            <td>
                                <p>18898956390</p>
                                <button>查看</button>
                            </td>
                            <td class="next">2</td>
                            <td>
                                <input type="text" value="10.00">
                            </td>
                            <td>
                                <input type="text" value="10.00">
                            </td>
                            <td>
                                <input type="text" value="100">%
                            </td>
                            <td>
                                <select name="level" class="mini">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </td>
                            <td>
                                <select name="rob" class="sm">
                                    <option value="1">开启</option>
                                    <option value="2">关闭</option>
                                </select>
                            </td>
                            <td>
                                <select name="withdrow" class="timeInput">
                                    <option value="1">开启</option>
                                    <option value="2">隐藏提现</option>
                                    <option value="2">隐藏提现/积分收益</option>
                                </select>
                            </td>
                            <td style="color: #008800">在线</td>
                            <td>
                                <select name="" id="two" class="sm">
                                    <option value="">推荐</option>
                                    <option value="">新人</option>
                                    <option value="">活跃</option>
                                </select>
                                <select name="" id="three" class="sm">
                                    <option value="">显示</option>
                                    <option value="">隐藏</option>
                                </select>
                                <select name="" id="four" class="sm">
                                    <option value="">空闲</option>
                                    <option value="">忙碌</option>
                                    <option value="">离线</option>
                                </select>
                                <a href="" onclick="javascript: if(!confirm('确定删除吗？')){return false;}">
                                    封号
                                </a>
                                <a href="" onclick="javascript: if(!confirm('确定删除吗？')){return false;}">
                                    云信
                                </a>
                                <a href="" onclick="javascript: if(!confirm('确定删除吗？')){return false;}">
                                    审查
                                </a>
                                <a href="" onclick="javascript: if(!confirm('确定删除吗？')){return false;}">
                                    黑名单
                                </a>
                                <a href="" onclick="javascript: if(!confirm('确定删除吗？')){return false;}">
                                    真心话/挑逗
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </li>
            <div class="mark">
                <div class="main">
                    <img src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
                </div>
            </div>
        </ul>
        <ul class="page">
            <p>共<span>188</span>条</p>
            <i class="iconfont icon-zuoyoujiantou"></i>
            <div>

            </div>
            <i class="iconfont icon-next"></i>
        </ul>
    </main>
</div>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/tabs.js"></script>
<script src="../js/comment.js"></script>
<script src="../js/pageing.js"></script>