<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commen.css">
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_535633_taszfdq4wajaif6r.css">
</head>
<body>
    <div class="mark">
        <div class="main">
            <img src="http://napi2.feyuu.com/user/50000119/album/9c95278f0210d9f5c1b6100891922b9e.jpg" alt="">
        </div>
    </div>
    <div class="search">
        <form action="">
            <label>状态
                <select name="style" id="style">
                    <option value="">正在审核</option>
                    <option value="man">审核通过</option>
                    <option value="woman">审核不通过</option>
                </select>
            </label>
            <label>支付方式
                <select name="apply" id="apply">
                    <option value="">支付宝</option>
                    <option value="man">微信</option>
                    <option value="woman">银行卡</option>
                </select>
            </label>
            <label>日期
                <input class="timeInput" type="date" name="startTime">--<input class="timeInput" type="date" name="endTime">
            </label>
            <label>用户ID
                <input type="text" name="uid" style="width: 100px">
            </label>
            <label>用户昵称
                <input type="text" name="uid" style="width: 100px">
            </label>
            <button type="button">查询</button>
            <button type="button">重置</button>
            <button type="button">导出excel</button>

        </form>
    </div>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>ID</td>
                <td>用户ID</td>
                <td>昵称</td>
                <td>提现类型</td>
                <td>提现积分数</td>
                <td>提现金额</td>
                <td>审核通过时间</td>
                <td>提现账户</td>
                <td>提现方式</td>
                <td>提现真实姓名</td>
                <td>审核人ID</td>
                <td>支付订单号</td>
                <td>支付商户订单号</td>
                <td>申请时间</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>28</td>
                <td>50000457</td>
                <td>铁锤妹妹</td>
                <td>积分</td>
                <td>50000</td>
                <td>500</td>
                <td>2017-12-31</td>
                <td>支付宝账户</td>
                <td>支付宝</td>
                <td>真实姓名</td>
                <td>审核人</td>
                <td>123455578</td>
                <td>1234555785115748</td>
                <td>2017-12-31 12:06:48</td>
                <td style="color:#008800;">待审核</td>
                <td>
                    <button type="button">支付</button>
                    <button type="button" class="error">返回</button>
                </td>
            </tr>
            <tr>
                <td>28</td>
                <td>50000457</td>
                <td>铁锤妹妹</td>
                <td>积分</td>
                <td>50000</td>
                <td>500</td>
                <td>2017-12-31</td>
                <td>支付宝账户</td>
                <td>支付宝</td>
                <td>真实姓名</td>
                <td>审核人</td>
                <td>123455578</td>
                <td>1234555785115748</td>
                <td>2017-12-31 12:06:48</td>
                <td style="color:#008800;">已审核</td>
                <td>
                    <!--<button type="button" class="error">删除</button>-->
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="page">
        <p>共<span>188</span>条</p>
        <i class="iconfont icon-zuoyoujiantou"></i>
        <div>

        </div>
        <i class="iconfont icon-next"></i>
    </ul>
</body>
</html>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/comment.js"></script>
<script src="../js/pageing.js"></script>